# The ID of the root folder in your Google Drive where the 'Kurals' and 'Daily_Videos' folders reside.
# You can find this ID in the URL when you open the folder in Google Drive.
# Example: If URL is https://drive.google.com/drive/folders/1aBcDeFgHiJkLmNoPqRsTuVwXyZ, the ID is 1aBcDeFgHiJkLmNoPqRsTuVwXyZ
DRIVE_ROOT_FOLDER_ID=your_google_drive_root_folder_id_here
